*{
	box-sizing: border-box;
	margin: 0px;	
	padding: 0px;
}
.App{
	background-color: rgb(222, 225, 227);
	padding-bottom: 50px;
}
:root{
	--headerPadding : 2px;
	--headerBorder : 1px solid transparent;
	--headerHoverBorder	: 1px solid white;
	--headerBorderRadius : 3px;
	--bottomDivFontWeight : 600;

}









